<section id="main">
  <h2>Dashboard</h2>
  <table>
   <% @objects.each do |object| %>
     <tr>
       <td><%= object.key %></td>
       <td><%= link_to "Download", download_url_for(object.key) %></td>
       <td><%= link_to "Delete", "dashboard/delete/?object=" + object.key, :confirm => 'Are you sure you want to delete ' + object.key + '?' %></td>
     </tr>
   <% end %>
  </table>
</section>
